.cells{
    padding: 0%;
    border: solid blue 1px;
    text-align: center;
    font-family: "Calibri", Arial, monospace;
}

.grid{
    padding: 0%;
    border: solid black 1px;
    text-align: center;
    font-family: "Calibri", Arial, monospace;
}