<!--The content below is only a placeholder and can be replaced.-->
<!doctype html>
<html lang="en">
<header>
  <h1>
  </h1>
    <!-- <img alt="Pokedex Logo" src="assets/img/pokedex-logo.png"> -->
  <!-- <h1>
    ayeah
    <img alt="Pokedex Logo" src="assets/img/pokedex-logo.png">
  </h1> -->
</header>
<body>
  <div>
  <!-- Search form -->
    <div class="md-form active-cyan active-cyan-2 mb-3">
      <input class="form-control" type="search" id="search3" aria-label="Search" mdbInput>
      <label for="search3">Search</label>
    </div>
  </div>
</body>
</html>