<!-- <app-header></app-header>
<app-pokemon></app-pokemon>
<router-outlet></router-outlet>
<app-footer></app-footer> -->
<header>
  
  <div class="Menu">MENU</div>
  <!-- <h2> -->
    <!-- <ul>
      <a routerLink="/">POKEMON</a>
      <a routerLink="/berries">BERRIES</a>
      <a routerLink="/about">ABOUT</a>
    </ul> -->
  <!-- </h2> -->
</header>
<!-- <app-pokemon-search></app-pokemon-search>
<app-pokemon></app-pokemon> -->

<!-- <app-header></app-header>

<main>
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer> -->