
header{
    font-size: 1em;
    background-color: #d31f1f;
    margin: 0;
    padding: 0;
    max-height: 10%;
    /* background-image: url('src/app/pokeapi-logo.png');
    image: url('src/app/pokeapi-logo.png'); */
}

h1{
    width: 20%;
    height: 20%;
    align-self: center;
}