<div class="primary-details" *ngIf="pokemon">
  <!-- <div *ngFor="let p of Pokemon.results"> -->
    <table class="main">
      <tr>
        <td>
          <div class="sprite">
              <img src="{{pokemon.sprites.front_default}}" alt="Sprites">
          </div>
        </td>
      <!-- </tr> -->
      <table class="primary-info">
      <tr>
        <td class="title">
          <b>ID No.</b> {{pokemon.id}}<br>
          <b>Name:</b> {{pokemon.name | uppercase}}
        </td>
      </tr>
      <tr>
        <td>
          <b>Type:</b> 
          <div *ngFor="let type of pokemon.types" class="type">
            {{type.type.name}}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="type">
            <b>Species:</b> {{pokemon.species.name}}
          </div>
        </td>
      </tr>
      <tr class="height">
        <td>
          <b>Height:</b> {{pokemon.height / 10}} meter/s<br>
          <b>Weight:</b> {{pokemon.weight / 10}} kilogram/s
        </td>
      </tr>
      <tr>
        <td>
          <b>Abilities:</b>
          <div *ngFor="let ability of pokemon.abilities" class="type">
            {{ability.ability.name}}
          </div>
        </td>
      </tr>
      </table>
      </tr>
    </table>
</div>

<div class="details" *ngIf="desc">
  <div class="others">
    <p><b>ADDITIONAL INFORMATION:</b></p><br>
    <p><b>Description:</b></p>
    <p>{{desc.flavor_text_entries[1].flavor_text}}</p><br>
    <p><b>Genus:</b> {{desc.genera[2].genus}}</p><br>
    <p><b>Shape:</b> {{desc.shape.name}}</p>
  </div>
</div>

<div class="details" *ngIf="pokemon">
  <div class="others">
    <p><b>MOVE LIST:</b></p>
    <select>
      <option *ngFor="let move of pokemon.moves" value="{{move.move.name}}">{{move.move.name}}</option>
      <!-- <div *ngFor="let move of pokemon.moves" class="type">
        {{move.move.name}}<br>
      </div> -->
    </select>
    <!-- <div *ngFor="let move of pokemon.moves" class="type">
      {{move.move.name}}<br>
    </div> -->
  </div>
  
  <!-- <div>
    <accordion>
      oi
    </accordion>
  </div> -->

</div>

<div class="Return">
  <button button class="Return-button" [routerLink]="['/pokemon']">RETURN!</button>
</div>
