td{
  /* text-align: center; */
  padding: 0%;
  border: 0%;
  font-family: Arial;
  font-size: 18px;
}

img{
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    border: 0%;
}

.primary-details{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.previous{
  position: fixed;
  left: 0%;
  height: 200px;
  width: 20%;
  cursor: pointer;
  background-size: 100% 100%;
  background-image: url('img/previous.jpeg');
}

.next{
  position: fixed;
  right: 0%;
  height: 200px;
  width: 20%;
  cursor: pointer;
  background-size: 100% 100%;
  background-image: url('img/next.jpeg');
}

.details{
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

table{
  background-color:darkturquoise;
  border: solid darkblue 2px;
}

.main{
  margin: auto;
  width: 60%;
  border-radius: 10px;
}

.primary-info{
  margin: 0%;
  width: 100%;
  border-radius: 10px;
}

p{
  padding: 0%;
  margin: 0%;
  border: 0%;
  font-family: Arial;
  font-size: 18px;
}

/* .title{
    padding: 0%;
    margin: 0%;
    border: 0%;
    text-align: center;
} */

.sprite{
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: pointer;
}

.picture{
  width: 135px;
  height: 135px;
  margin: auto;
  cursor: pointer;
  text-align: center;
}

.species{
    padding: 0%;
    border: 0%;
    padding: 0%;
    display: inline;
}

.Return{
  text-align: center;
  width: 100%;
  padding: 0%;
  border: 0%;
}

.Return-button{
  margin-top: 10px;
  padding: 0%;
  font-size: 35px;
  background-color: #1b95e0;
  color: white;
  width: 240px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
}

.others{
  padding: 0%;
  background-color:darkturquoise;
  border: solid darkblue 2px;
  margin: auto;
  width: 60%;
  text-align: left;
  cursor: pointer;    
}

.heading{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background-color: lightblue;
}

.fire {
  background-color: #F45545;
  display: inline;
}

.water {
  background-color: #558BCF;
  display: inline;
}

.grass {
  background-color: #589F43;
  display: inline;
}

.poison {
  background-color: #6c4294;
  display: inline-block;
}

.flying {
  background-color: #E3C066;
  display: inline;
}

.normal {
  background-color: #bd8d41;
  display: inline;
}

.bug {
  background-color: #acbe16;
  display: inline;
}

.electric {
  background-color: #F3BE1F;
  display: inline;
}

.ground {
  background-color: #796444;
  display: inline;
}

.dragon {
  background-color: #A485C2;
  display: inline;
}

.psychic {
  background-color: #EE86A5;
  display: inline;
}

.fairy {
  background-color: #BF6481;
  display: inline;
}

.ice {
  background-color: #64AFF5;
  display: inline;
}

.rock {
  background-color: #3B3426;
  display: inline;
}

.fighting {
  background-color: #915656;
  display: inline;
}

.steel {
  background-color: #949494;
  display: inline;
}

.ghost {
  background-color: #75577D;
  display: inline;
}