.active-purple input[type=search] {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
}

h2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 40%;
    padding: 0px;
    border: 0px;
    text-align: center;
}